<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div id="app">
      <p v-if="mode == 1">V-If Directive</p>
      <!-- <p v-else-if="mode == 2">V-If-else Directive</p> -->
      <template v-else-if="mode ==2 ">
        <p>Bonus Content</p>
        <p>V-If-else Directive</p>
      </template>
      <p v-else>V-else Directive</p>

      <select v-model="mode">
        <option value="1">V-If</option>
        <option value="2">V-If-Else</option>
        <option value="3">V-Else</option>
      </select>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
  </body>
</html>
