<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE Fundamentals</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <p>{{ fullName() }}</p>
      <!-- <p><a v-bind:href="url">Example.com</a></p> -->
      <p><a :href="url">Example.com</a></p>
      <!-- <p v-html="raw_url"></p> -->
      <p v-html="raw_url"></p>
      <hr />
      <label>First Name</label>
      <input type="text" v-model="firstName" />
      <label>Last Name</label>
      <input type="text" v-model="lastName" />
      <label>Class Name</label>
      <input type="text" v-model="classApp" />
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
  </body>
</html>
