<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Fundamental</title>
  </head>
  <body>
    <app-action-bar [inputDisplay]="activate"></app-action-bar>
    <button (click)="activate = !activate">
      {{ activate ? "Bold" : "Light" }}
    </button>
    <hr />
    <div>
      {{ customerList }}
    </div>

    <!-- Array Customer List -->
    <div>
      <ul>
        <li *ngFor="let customer of customerList; let i = index">
          {{ customer }} <button (click)="RemoveCustomerList(i)">Remove</button>
        </li>
      </ul>
      <button (click)="pushCustomerList()">Add Customer List</button>
      <button (click)="unShiftCustomerList()">Unshift Customer List</button>
    </div>
    <hr />
  </body>
</html>
