<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Fundamental</title>
  </head>
  <body>
    <span>มา 4 จ่าย 3</span>
    <div>
      <input placeholder="ราคา" type="text" #priceBuffetInput />
      <button (click)="calBuffet(priceBuffetInput.value)">Calculate</button>
    </div>
    <span>คนละ {{ value }} บาท</span>
    <hr />
    <app-action-bar
      [step]="5"
      (numberChange)="testNumberChange()"
    ></app-action-bar>
    <app-action-bar
      [step]="10"
      (numberChange)="testNumberChange()"
    ></app-action-bar>

    <div>
      <button type="button" (click)="buttonClick()">Test Event Blinding</button>
    </div>
  </body>
</html>
