<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Fundamental</title>
  </head>
  <body>
    <app-action-bar [(counter)]="appCounter"></app-action-bar>
    <hr />
    <app-square-flex
      [divWidth]="appCounter"
      [divHeight]="squareHeight"
    ></app-square-flex>
    <app-action-bar *ngIf="activate"></app-action-bar>
    <br />
    <button type="text" (click)="activate = !activate">
      {{ activate ? "Activated" : "Unactivated" }}
    </button>
  </body>
</html>
