<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p-table [value]="cars">
        <ng-template pTemplate="header">
          <tr>
            <th>Vin</th>
            <th>Year</th>
            <th>Brand</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr>
            <td>{{ car.brand }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.vin }}</td>
            <td>{{ car.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </body>
</html>
